---
import About from "../layouts/About.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../layouts/Projects.astro";
import Profile from "../layouts/Profile.astro";
import Header from "../components/Header.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Adel Suarez - web/movil  Developer">
  <Header />
  <div class="main-content">
    <Profile />
    <Projects />
  </div>
  <!-- <About />
  <Projects /> -->
</Layout>

<style>
  .main-content {
    margin: 0 auto;
    width: 55%;
  }
</style>
