---
import Layout from "../layouts/Layout.astro";
import Projects from "../layouts/Projects.astro";
import Profile from "../layouts/Profile.astro";
import Header from "../components/Header.astro";
import Training from "../layouts/ Training.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Adel Suarez - web/movil  Developer">
  <div class="header-container">
    <Header />
  </div>
  <div class="main-content">
    <Profile />
    <Projects />
    <Training />
    <Footer />
  </div>
</Layout>

<style>
  .main-content {
    margin: 0 auto;
    width: 55%;
  }

  .header-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  @media (max-width: 1000px) {
    .main-content {
      width: 70%;
    }
  }

  @media (max-width: 770px) {
    .main-content {
      width: 75%;
    }
  }

  @media (max-width: 550px) {
    .main-content {
      width: 80%;
    }
  }
</style>
