---
import "../styles/constants.css";
import Icon from "./Icon.astro";
---

<header>
  <span>Adel Suarez</span>

  <Icon url="https://github.com/AdelSuarez" urlIcon="icons/github_.svg" />
</header>

<style>
  header {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1rem;
    border-bottom: 1px solid #444444;
  }

  span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
