---
import "../styles/constants.css";
---

<header>
  <span>Adel Suarez</span>

  <div class="lang">
    <span>es</span>/
    <span>en</span>
  </div>
</header>

<style>
  header {
    width: 100%;
    position: sticky;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1rem;
    border-bottom: 1px solid #444444;
  }

  span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .lang span:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
  }
</style>
