---
import "../styles/constants.css";
---

<header>
  <span>Adel <br /> Suarez</span>
  <nav>
    <ul>
      <li>
        <a href="/">Home/</a>
      </li>
      <li>
        <a href="#about">About/</a>
      </li>
      <li>
        <a href="#projects">Projects/</a>
      </li>
      <li>
        <a href="/contact">Contact/</a>
      </li>
    </ul>
  </nav>
  <div class="lang">
    <span>es</span>
    <span>en</span>
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1rem;
  }

  span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  .lang {
    display: flex;
    flex-direction: column;
  }

  .lang span:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
  }
</style>
