---

---

<h2>About/</h2>

<article class="info">
  <p>Hello, my name is Adel, I am a web and mobile developer.</p>
  <p>
    I have experience in developing applications using technologies such as
    Flutter, Dart, and Firebase. I am also familiar with web development
    technologies such as HTML, CSS, and JavaScript.
  </p>
</article>

<style>
  section {
    padding: 2rem;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    width: 40%;
  }
</style>
