---
import "../styles/constants.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-ico" href="/portfolio-web/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Metadata -->
    <meta
      name="description"
      content="Soy un desarrollador web y móvil apasionado por crear soluciones
      innovadoras y eficientes. Tengo experiencia en el desarrollo de
      aplicaciones con tecnologías como Flutter y Dart para dispositivos
      móviles, y TypeScript con React para la web."
    />
    <meta
      name="keywords"
      content="Adel Suarez, portfolio, web developer, mobile developer"
    />
    <meta name="author" content="Adel Suarez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#131313" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Soy un desarrollador web y móvil apasionado por crear soluciones."
    />
    <meta property="og:image" content="/portfolio-web/bg_image_.png" />
    <meta
      property="og:url"
      content="https://adelsuarez.github.io/portfolio-web/"
    />
    <meta property="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
  }

  body {
    /* background-color: #17202a; */
    color: white;
    background-color: var(--background-color);
  }
</style>
