---
// import "../styles/title.css";
import Header from "../components/Header.astro";
import TechnologyIcon from "../components/TechnologyIcon.astro";
---

<section class="profile-section">
  <!-- <Header /> -->
  <section class="profile">
    <img src="/perfil.jpg" alt="" />
    <div class="profile-info">
      <h1>Adel Suarez</h1>
      <h2>Web/Mobile Developer</h2>
      <div class="location">
        <span class="material-icons">location_on</span>
        <p>Venezuela - Caracas</p>
      </div>
    </div>
  </section>
  <section class="about">
    <h3>About me</h3>
    <p>
      I am a web and mobile developer with a passion for creating innovative and
      efficient solutions. I have experience in developing applications using
      technologies such as Flutter, Dart, and Firebase.
    </p>
  </section>
  <section class="technologies-section">
    <h3>Technologies</h3>
    <div class="technologies">
      <TechnologyIcon name="Dart" urlIcon="/dart_.svg" />
      <TechnologyIcon name="Flutter" urlIcon="/flutter_.svg" />
      <TechnologyIcon name="React" urlIcon="/react_.svg" />
      <TechnologyIcon name="JavaScript" urlIcon="/js_.svg" />
    </div>
    <hr />
  </section>
</section>
<!-- <div class="content">
      <h2>Web/Mobile</h2>
      <div>
        <button class="btn-projects">
          <a href="#projects">Projects</a>
        </button>
        <span class="material-icons">arrow_forward</span>
      </div>
    </div>
    <div class="content">
      <p>I am passionate about creating innovative and efficient solutions.</p>
      <h2>Developer</h2>
    </div> -->

<!-- <p>HEY, I'M ADEL SUAREZ, A WEB/MOBILE DEVELOPER.</p> -->

<style>
  .profile-section {
    color: white;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .profile img {
    width: 10em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .location {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .technologies {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  /* ------------------- */
  /* .title { */
  /* height: 100dvh; */
  /* width: 100%;
    padding: 1em;
    padding-top: 5em; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* } */
  /* .content-main {
    padding: 4rem 8rem;
  } */

  /* span {
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: black;
  }

  h2 {
    font-size: 8em;
    color: white;
    font-weight: 600;
  }

  .content p {
    color: rgb(209, 209, 209);
    font-size: 1.5em;
    width: 30%;
  }

  .btn-projects {
    background-color: white;
    color: black;
    padding: 0.2em 2em;
    border: none;
    border-radius: 10em;
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
  } */
</style>
