---
import TechnologyIcon from "../components/TechnologyIcon.astro";
---

<section class="profile-section">
  <section class="profile">
    <img src="profile.jpg" class="img-profile" alt="" />
    <div class="profile-info">
      <div class="content-with-icon">
        <h1>Adel Suarez</h1>
        <a href="https://github.com/AdelSuarez" target="_blank" rel="noopener noreferrer">
          <img src="icons/github_.svg" class="icon btn-icon" alt="" />
        </a>
      </div>

      <h2>Web/Mobile Developer</h2>
      <div class="location">
        <span class="material-icons">location_on</span>
        <p>Venezuela - Caracas</p>
      </div>
    </div>
  </section>
  <section class="about">
    <h2>About me</h2>
    <p>
      I'm a web and mobile developer passionate about creating innovative and
      efficient solutions. I have experience developing applications with
      technologies such as Flutter and Dart for mobile, and TypeScript with
      React for the web.
    </p>
    <div class="content-with-icon">
      <img src="icons/linux_.svg" class="icon" alt="" />
      <p>
        I'm passionate about everything related to Linux distributions, and I
        have been using Ubuntu as my main system for over a year.
      </p>
    </div>
  </section>
  <section class="technologies-section">
    <h3>Technologies</h3>
    <div class="technologies">
      <TechnologyIcon name="python" urlIcon="icons/python_.svg" />
      <TechnologyIcon name="Dart" urlIcon="icons/dart_.svg" />
      <TechnologyIcon name="Flutter" urlIcon="icons/flutter_.svg" />
      <TechnologyIcon name="React" urlIcon="icons/react_.svg" />
      <TechnologyIcon name="HTML" urlIcon="icons/html_.svg" />
      <TechnologyIcon name="CSS" urlIcon="icons/css_.svg" />
      <TechnologyIcon name="JavaScript" urlIcon="icons/js_.svg" />
      <TechnologyIcon name="TypeScript" urlIcon="icons/ts_.svg" />
    </div>
    <hr />
  </section>
</section>

<style>
  .profile-section {
    color: white;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .img-profile {
    width: 10em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .location {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .technologies {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
  }

  .content-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .icon {
    width: 2em;
  }

  .btn-icon {
    cursor: pointer;
  }

  .btn-icon:hover {
    filter: brightness(0.8);
  }
}
</style>
