---
import Icon from "../components/Icon.astro";
import TechnologyIcon from "../components/TechnologyIcon.astro";
---

<section class="profile-section">
  <section class="profile">
    <img src="profile-min.jpg" class="img-profile" alt="" />
    <div class="profile-info">
      <div class="content-with-icon">
        <h1>Adel Suarez</h1>
        <div>
          <Icon
            url="https://github.com/AdelSuarez"
            urlIcon="icons/github_.svg"
          />
        </div>
      </div>
      <h2>Desarrollador Web/Movil</h2>
      <div class="location">
        <span class="material-icons">location_on</span>
        <p>Venezuela - Caracas</p>
      </div>
    </div>
  </section>
  <section class="about">
    <h2 class="title-section">/Acerca de mi.</h2>
    <p>
      Soy un desarrollador web y móvil apasionado por crear soluciones
      innovadoras y eficientes. Tengo experiencia en el desarrollo de
      aplicaciones con tecnologías como Flutter y Dart para dispositivos
      móviles, y TypeScript con React para la web.
    </p>
    <div class="content-with-icon">
      <img src="icons/linux_.svg" class="icon" alt="" />
      <p>
        Me apasiona todo lo relacionado con el mundo de Linux. Llevo más de un
        año usando distribuciones Linux como sistema principal.
      </p>
    </div>
  </section>
  <section class="technologies-section">
    <h3 class="title-section">/Tecnologias.</h3>
    <div class="technologies">
      <TechnologyIcon name="python" urlIcon="icons/python_.svg" />
      <TechnologyIcon name="Dart" urlIcon="icons/dart_.svg" />
      <TechnologyIcon name="Flutter" urlIcon="icons/flutter_.svg" />
      <TechnologyIcon name="React" urlIcon="icons/react_.svg" />
      <TechnologyIcon name="HTML" urlIcon="icons/html_.svg" />
      <TechnologyIcon name="CSS" urlIcon="icons/css_.svg" />
      <!-- <TechnologyIcon name="JavaScript" urlIcon="icons/js_.svg" /> -->
      <TechnologyIcon name="TypeScript" urlIcon="icons/typescript_.svg" />
    </div>
  </section>
  <section>
    <h3 class="title-section">/Herramientas.</h3>
    <div class="tools">
      <TechnologyIcon name="Git" urlIcon="icons/git_.svg" />
      <TechnologyIcon name="GitHub" urlIcon="icons/github_.svg" />
      <TechnologyIcon name="Figma" urlIcon="icons/figma_.svg" />
    </div>
  </section>
  <hr />
</section>

<style>
  .profile-section {
    color: white;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .title-section {
    /* color: var(--primary-color); */
    font-style: italic;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .img-profile {
    width: 10em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .location {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .technologies,
  .tools {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
  }

  .content-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .icon {
    width: 2em;
  }

  @media (max-width: 676px) {
    .profile {
      display: flex;
      flex-direction: column;
      gap: 0.6em;
    }
  }

  @media (max-width: 425px) {
    .profile-info {
      /* justify-content: center; */
      align-items: center;
    }

    .profile-info h2 {
      text-align: center;
      font-size: 1em;
    }
    .content-with-icon div {
      display: none;
    }

    .content-with-icon img {
      display: none;
    }
  }
</style>
