---
import Content from "../components/Content.astro";
---

<Content id="projects">
  <h2>Proyects/</h2>

  <article>
    <h3>BijiApp</h3>
    <p>
      BijiApp is a mobile application designed to help users manage their
      personal finances effectively. It offers features such as expense
      tracking, budget planning, and financial goal setting.
    </p>
    <div>
      <img src="/dart_.svg" alt="" />
      <img src="/flutter_.svg" alt="" />
      <img src="/database.svg" alt="" />
    </div>
  </article>
</Content>

<style>
  h2 {
    font-size: 2em;
    font-weight: 600;
  }

  img {
    width: 2em;
    height: 2em;
  }

  article {
    margin: 2em;
  }
</style>
