---
// import { Image } from "astro:assets";
// import a from "../assets/astro.svg";
---

<section>
  <h2>Projects</h2>
  <!-- <Image
    src={a}
    alt="Projects screenshot"
    width={800}
    height={600}
    loading="lazy"
    class="projects-image"
  /> -->
</section>

<style></style>
