---
// import "../styles/title.css";
import Header from "../components/Header.astro";
---

<section class="title">
  <Header />
  <div class="content-main">
    <div class="content">
      <h2>Web/Mobile</h2>
      <div>
        <button class="btn-projects">
          <a href="#projects">Projects</a>
        </button>
        <span class="material-icons">arrow_forward</span>
      </div>
    </div>
    <div class="content">
      <p>I am passionate about creating innovative and efficient solutions.</p>
      <h2>Developer</h2>
    </div>
  </div>
</section>

<style>
  .title {
    height: 100dvh;
    width: 100%;
    padding: 1em;
    padding-top: 5em;
    /* display: flex;
  flex-direction: column;
  justify-content: center; */
  }
  .content-main {
    padding: 4rem 8rem;
  }

  span {
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 5em; */
  }
  a {
    text-decoration: none;
    color: black;
  }

  h2 {
    font-size: 8em;
    color: white;
    font-weight: 600;
  }

  .content p {
    color: rgb(209, 209, 209);
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.5em;
    width: 30%;
  }

  .btn-projects {
    background-color: white;
    color: black;
    padding: 0.2em 2em;
    border: none;
    border-radius: 10em;
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
  }
</style>
